@page "/articles"

<div class="grid grid-cols-1 lg:grid-cols-3 mt-6">
	<div class="lg:col-span-2 text-gray-60 bg-gray-800">
		@if (_articles is null)
		{
			<p><em>Loading articles...</em></p>
		}
		else if (_articles.Count == 0)
		{
			<p><em>No articles found</em></p>
		}
		else
		{
			@foreach (var article in _articles)
			{
				<div>
					<article class="md:grid md:grid-cols-1 md:items-baseline">
						<img class="w-full rounded-xl" src="@article.CoverImageUrl" height="100" alt="@article.Title">
						<h2 class="font-bold text-xl mb-2 text-gray-800">
							<a href="@article.UrlSlug" class="text-gray-50 hover:text-blue-500">@article.Title</a>
						</h2>
						<p class="text-gray-70 text-base shadow-lg">@article.Introduction</p>
						<PostInfoComponent Article="@article" CategoryType="Blog"/>
					</article>
				</div>
			}
		}
	</div>
	<div class="pl-6 pt-12 lg:pt-4">
		<ConnectWithUsComponent/>
		<RecentRelatedComponent/>
	</div>

</div>

@code {

	private readonly List<ArticleModel>? _articles = [];

	protected override void OnInitialized()
	{

		for (int i = 0; i < 3; i++)
		{
			var article = Helpers.ArticleGenerator.Generate(1).First();
			article.CoverImageUrl = $"https://picsum.photos/600/100/?random{i + 1}";
			_articles?.Add(article.Adapt<ArticleModel>());
		}

	}

}